[db]
;host = localhost
;port = 3306
;name = ddserver
;username = ddserver
password = YourDatabasePassword

[logging]
;verbose = False
;file = /var/log/ddserver.log

[auth]
;password_min_chars = 8

[dns]
;max_hosts = 5

[signup]
;enabled = True
;allowed_maildomains = any
;notify_admin = True

[wsgi]
;host = 0.0.0.0
;port = 8080
;debug = False
;protocol = http://
;basename = localhost:8080
;static_files = /usr/share/ddserver/static

[smtp]
host = 127.0.0.1
;port = 25

[contact]
name = Administrator
email = admin@example.com

[captcha]
;enabled = False
;recaptcha_public_key = 
;recaptcha_private_key = 
