{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Manage Account</h1></div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <h3>Account information</h3>
      <p class="text-justify">
        This is your username and account creation date.<br>
        If you do not want to use your account anymore, click the
        "Delete account" botton. This will immediately remove all your hostnames
        and user information from our system and can not be undone.
      </p>
    </div>

    <div class="col-md-4">
      <h3>Update your personal data</h3>
      <p class="text-justify">
        Please provide a valid email address, to receive important
        notifications and password recovery emails.<br>
        Your login password should consisting of upper- and lowercase
        characters, as well as numbers or special characters. The minimum
        password length is {{config.auth.password_min_chars}} characters.
      </p>
    </div>

    <div class="col-md-4">
      <h3>Two Factor Authentication</h3>
      <p class="text-justify">
        If you own a Yubikey, it is possible to configure Two Factor
        Authentication (2FA) for your account, using the Yubico OTP
        service. First, generate your client id and secret key on the
        <a href="https://upgrade.yubico.com/getapikey/" target="_blank">Yubico website</a>,
        then insert your Client-Id and API-Key below to activate 2FA
        for your account.
      </p>
    </div>
  </div>

  <!-- forms -->
  <div class="row">
    <div class="col-md-4">
      <div class="box">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
            <input class="form-control" type="text" id="inputUsername" placeholder="Username" readonly="readonly" value="{{data.username}}">
          </div>
        </div>
        <div class="form-group">
          <label for="inputCreated">Account created</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-fw fa-clock-o"></i></span>
            <input class="form-control" type="text" id="inputCreated" placeholder="Account Created" readonly="readonly" value="{{data.created}}">
          </div>
        </div>

        <div class="form-group">
          <label for="inputCreated">Delete my account</label>
          <p><a href="#confirmDelete" class="btn btn-primary btn-danger" data-toggle="modal">Delete account</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        <form role="form" action="/user/account" method="post">
          <div class="form-group">
            <label for="inputEmail">E-Mail Address</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
              <input class="form-control" type="email" id="inputEmail" placeholder="E-Mail" value="{{data.email}}" required="required" name="email">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update email address</button>
            <button type="reset" class="btn btn-default">Cancel</button>
          </div>
        </form>
        <form role="form" action="/user/account/password" method="post" id="pwdcontainer">
          <div class="form-group">
            <label for="inputPassword1">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" id="inputPassword1" placeholder="Password" name="password" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2">Retype</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" id="inputPassword2" placeholder="Retype" name="password_confirm" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2">Password strength</label>
            <span class="pwstrength_viewport_progress"></span>
          </div>
          <script type="text/javascript">
            jQuery(document).ready(function () {
                "use strict";
                $('#inputPassword1').pwstrength(pwdstrength_options);
            });
          </script>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update password</button>
            <button type="reset" class="btn btn-default" id="resetFormButton">Cancel</button>
            <script type="text/javascript">
              $('#resetFormButton').click(function() {
                $('#inputPassword1').val('');
                $('#inputPassword1').trigger('keyup');
              });
            </script>
          </div>
        </form>
      </div>
    </div>

    <div class="col-md-4">
      <div class="box">
        {% if data.yubico_id %}
        <form role="form" action="/user/account/yubikey/disable" method="post">
          <div class="form-group">
            <label for="yubicoClientIdRO">Client-Id</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-tags"></i></span>
              <input class="form-control" type="text" id="yubicoClientIdRO" placeholder="Username" readonly="readonly" value="{{data.yubico_id}}">
            </div>
          </div>
          <div class="form-group">
            <label>2FA is enabled</label><br>
            <button type="submit" class="btn btn-primary">Disable</button>
          </div>
        </form>
        {% else %}
        <form role="form" action="/user/account/yubikey/enable" method="post">
          <div class="form-group">
            <label for="inputYubicoId">Client-Id</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-tags"></i></span>
              <input class="form-control" type="text" id="inputYubicoId" name="yubico_id" required="required" placeholder="12345">
            </div>
          </div>
          <div class="form-group">
            <label for="inputYubicoKey">Secret Key</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
              <input class="form-control" type="password" id="inputYubicoKey" placeholder="optional" name="yubico_key">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Enable 2FA</button>
            <button type="reset" class="btn btn-default">Cancel</button>
          </div>
        </form>
        {% endif %}
      </div>

    </div>
  </div>

  <!-- confirm delete modal -->
  <div class="modal fade" id="confirmDelete">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Delete your account</h4>
        </div>
        <div class="modal-body">
          <span class="fa fa-fw fa-trash-o pull-left" style="font-size: 60px; margin: 20px 20px 0 0;"></span>
          <p>
            If you really want to delete your account, please confirm by clicking the
            <em>Delete my account</em> button.
          </p>
          <p>
            <strong>Please note</strong>: This will immediately remove all your hostnames
            and user information from our system and can not be undone.
          </p>
        </div>
        <div class="modal-footer">
          <form role="form" action="/user/account/delete" method="post">
            <div class="form-group">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary btn-danger">Delete my account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}