{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Account activation</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        Hi {{username}},
      </p>
      <p>
        welcome to <strong>ddserver</strong>, a service that allows you to add
        hostnames whose IP address can be updated dynamically using the
        <a href="http://www.noip.com/integrate">dyndns2 protocol</a>.
      </p>
      <p>
        You registered for a ddserver account. To finish the registration 
        process and be able to login, you need to set a password.
        Please choose a secure password, using upper- and lowercase characters, 
        as well as numbers or special characters. The minimum password 
        length is {{config.auth.password_min_chars}} characters.
      </p>
      <p>
        If you did not register for a ddserver account, you may cancel the
        signup process by clicking the button on the right. This will
        remove all your personal information from our system.
      </p>
      <p>
        If you have any trouble with the signup process, please contact us.
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>

    <div class="col-md-4">
      <div class="box">
        <h3>Complete registration</h3>
        <form role="form" action="/signup/activate?username={{username}}&amp;authcode={{authcode}}" method="post" id="pwdcontainer">
          <div class="form-group">
            <label for="signupPassword">Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" id="signupPassword" placeholder="Password" name="password" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="signupPassword2">Retype</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" id="signupPassword2" placeholder="Retype" name="password_confirm" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2">Password strength</label>
            <span class="pwstrength_viewport_progress"></span>
          </div>
          <script type="text/javascript">
            jQuery(document).ready(function () {
                "use strict";
                $('#signupPassword').pwstrength(pwdstrength_options);
            });
          </script>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Activate account</button>
            <a class="btn btn-default" href="/">Go back</a>
          </div>
        </form>
      </div>

      <div class="box">
        <h3>Cancel registration</h3>
        <form role="form" action="/signup/cancel?username={{username}}&amp;authcode={{authcode}}" method="post">
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-primary">Cancel Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}