{% extends "base.html" %}

{% block content %}

  <div class="row-fluid">
    <div class="span12"><h1>Manage Hostnames</h1></div>
  </div>
  
  <ul class="nav nav-tabs">
    <li class="active"><a href="/user/hosts/add">Add hostname</a></li>
    <li><a href="/user/hosts/list">Your hostnames</a></li>
  </ul>
      
  <div class="row-fluid">
    <div class="box">
      <div class="span12"><h3><i class="icon-tag"></i> Add a new hostname</h3></div>
      <div class="row-fluid">
        <div class="span6">
        
          {% if suffixes %}
          
          {% if hosts.count < config.dns.max_hosts %}
            <p class="j">
              Use the from to specify your hostnames. You can add up to 
              {{config.dns.max_hosts}} hostnames with a maximum length of 
              63 characters each. Only alphanumeric characters are allowed.
            </p>
            
            {% if suffixes|count > 1 %}
              <p class="j">
                From the dropdown menu, you can choose from a list of available 
                suffixes for your DNS name. 
              </p>
            {% endif %}
            
            <p class="j">
              Each hostname you add gets its individual password for updating.
              The minimum password length is {{config.auth.password_min_chars}} 
              characters. If you want to update multiple hostnames at once, you
              have to use the same password for them.
            </p>
            
            <p class="j">
              If you specify an initial IP address, your hostname will instantly
              be available. If you leave the IP address field blank, you have to
              update it using your homerouter or the ddclient program, before it
              will respond to DNS queries.
            </p>
            <p>
              After adding a new hostname, you can modify it or display configuration
              examples by navigating to the <i>Your hostnames</i> tab and click the
              details button.
            </p>
          </div>
        
          <div class="span6">
            <form class="form-horizontal" action="/user/hosts/add" method="post">
              <div class="control-group">
                <label class="control-label" for="inputHostname">Hostname</label>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-th-large"></i></span>
                    <input type="text" id="inputHostname" placeholder="Hostname" name="hostname" required="required">
                  </div>
                </div>
              </div>
    
              {% if suffixes|count > 1 %}
                <div class="control-group">
                  <label class="control-label" for="inputSuffix">Suffix</label>
                    <div class="controls">
                      <div class="input-prepend">
                        <span class="add-on"><i class="icon-th-large"></i></span>
                        <select name="suffix">
                          {% for suffix in suffixes %}
                            <option value="{{suffix.id}}">{{suffix.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                </div>
              {% else %}
                <input type="hidden" name="suffix" value="{{suffixes[0].id}}">
              {% endif %}
              
              <div class="control-group">
                <label class="control-label" for="hostPassword">Password</label>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" id="hostPassword" placeholder="Password" name="password" required="required">
                  </div>
                </div>
              </div>
              <div class="control-group">
                <label class="control-label" for="hostPassword2">Retype</label>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-lock"></i></span>
                    <input type="password" id="hostPassword2" placeholder="Retype" name="password_confirm" required="required">
                  </div>
                </div>
              </div>
              
              <div class="control-group">
                <label class="control-label" for="inputAddress">Initial Address<br><span>(optional)</span></label>
                <div class="controls">
                  <div class="input-prepend">
                    <span class="add-on"><i class="icon-th-large"></i></span>
                    <input type="text" id="inputAddress" placeholder="Initial address" name="address">
                    &nbsp;
                    <button class="btn" type="button" title="Use your current IP address ({{current_ip}})" id="curIPbutton">
                      <i class="icon-home"></i>
                    </button>
                    <script type="text/javascript">
                      $('#curIPbutton').click(function() {
                        $('#inputAddress').val("{{current_ip}}")
                      });
                    </script>
                  </div>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-success btn-primary">Add hostname</button>
                  <button type="reset" class="btn">Cancel</button>
                </div>
              </div>
            </form>
          </div>
          
          
        {% else%}
        {# MAX HOSTS DEFINED #}
          <p class="j text-error">
            You already have the maximum possible number of hostnames defined. 
          </p>
        {% endif %}
        
        
        {% else %}
        {# NO SUFFIXES DEFINED YET #}
          <p class="j text-error">
            There are no suffixes configured yet. Please try again later.
          </p>
        {% endif %}
        
      </div>
    </div>
    
  </div>
{% endblock %}