{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Manage hostnames</h1></div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="/user/hosts/add">Add hostname</a></li>
    <li><a href="/user/hosts/list">Your hostnames</a></li>
  </ul>
  <br>

  <div class="row">
    {% if suffixes %}
    <div class="col-md-8">
      <h3>Add a new hostname</h3>
      <p>
        Use the from on the right to add your hostnames. You can have
        {% if user.maxhosts == -1 or user.admin == True %}
          unlimited
        {% else %}
          up to {% if user.maxhosts == None %}({{config.dns.max_hosts}}){% else %}{{user.maxhosts}}{% endif %}
        {% endif %}
        hostnames with a maximum length of
        63 characters each. Only alphanumeric characters plus the minus (-)
        character are allowed.
      </p>

      {% if suffixes|count > 1 %}
      <h3>Select a zone</h3>
      <p>
        From the dropdown menu, you can choose from a list of available 
        zones for your DNS name. 
      </p>
      {% endif %}

      <h3>Set a password</h3>
      <p>
        Each hostname gets its individual password used to update its IPv4 address.
        The minimum password length is {{config.auth.password_min_chars}} characters.
        If you want to update multiple hostnames at once, you have to use the same
        password for each of them.
      </p>

      <h3>(Optional) Set an initial IPv4 address</h3>
      <p>
        If you specify an initial IPv4 address, your hostname will instantly be
        available by this address. If you leave the IPv4 address field blank, you
        will have to send an update using your homerouter or the ddclient program,
        before the hostname can be resolved using to DNS queries.
      </p>

      <h3>(Optional) Set a static IPv6 address</h3>
      <p>
        You can provide a static IPv6 address for your hostname. The IPv6 address can
        only be set using the Web-UI. Dynamic updates are not possible at the moment.
      </p>

      <h3>(Optional) Add a description</h3>
      <p>
        A description can be set to add personal notes. The description is only visible
        in the ddserver Web-UI.
      </p>
      <h3>You are done</h3>
      <p>
        As soon as the hostname has been added, you can modify it or display configuration
        examples by navigating to the <em><a href="/user/hosts/list">Your hostnames</a></em>
        tab and click the <em>Details</em> button for your hostname.
      </p>
    </div>

    <div class="col-md-4">
      <div class="box">
        <form role="form" action="/user/hosts/add" method="post" id="pwdcontainer">
          <div class="form-group">
            <label for="inputHostname">Hostname</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-desktop"></i></span>
              <input class="form-control" type="text" id="inputHostname" placeholder="Hostname" name="hostname" required="required">
            </div>

            <div class="input-group">
              <div class="checkbox">
                <label for="inputHostname">
                  <input type="checkbox" id="inputWildcard" name="wildcard">
                  Enable Wildcard Record
                </label>
              </div>
            </div>
          </div>

          {% if suffixes|count > 1 %}
          <div class="form-group">
            <label for="inputSuffix">Zone</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-sitemap"></i></span>
              <select class="form-control" name="suffix" id="inputSuffix">
                {% for suffix in suffixes %}
                <option value="{{suffix.id}}">{{suffix.name}}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          {% else %}
          <input type="hidden" name="suffix" value="{{suffixes[0].id}}">
          {% endif %}

          <div class="form-group">
            <label for="hostPassword">Password <span><i class="fa fa-fw fa-magic tip" id="generatePasswordButton" title="Generate a random password"></i></span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" id="hostPassword" placeholder="Password" name="password" required="required">
            </div>
            <script type="text/javascript">
              $('#generatePasswordButton').click(function() {
                var password = '';
                var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz01234567891234567890!$+-#';

                for( var i=0; i < 12; i++ )
                  password += possible.charAt(Math.floor(Math.random() * possible.length));

                $('#hostPassword').get(0).type = 'text';
                $('#hostPassword').val(password);

                $('#hostPassword2').get(0).type = 'text';
                $('#hostPassword2').prop('readonly', true);
                $('#hostPassword2').val(password);

                $('#hostPassword').trigger('keyup');
              });
            </script>
          </div>
          <div class="form-group">
            <label for="hostPassword2">Retype</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" id="hostPassword2" placeholder="Retype" name="password_confirm" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPWStrength">Password strength</label>
            <span class="pwstrength_viewport_progress" id="inputPWStrength"></span>
          </div>
          <script type="text/javascript">
            jQuery(document).ready(function () {
                "use strict";
                $('#hostPassword').pwstrength(pwdstrength_options);
            });
          </script>
          <div class="form-group">
            <label for="inputAddress">Initial IPv4-Address <span>(optional) <i class="fa fa-fw fa-home tip" id="curIPbutton" title="Use your current IP address ({{current_ip}})"></i></span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-info"></i></span>
              <input class="form-control" type="text" id="inputAddress" placeholder="Initial IPv4-Address" name="address">
            </div>
            <script type="text/javascript">
              $('#curIPbutton').click(function() {
                $('#inputAddress').val("{{current_ip}}")
              });
            </script>
          </div>
          <div class="form-group">
            <label for="inputAddress">Static IPv6-Address <span>(optional)</span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-info"></i></span>
              <input class="form-control" type="text" id="inputAddress_v6" placeholder="IPv6-Address" name="address_v6">
            </div>
          </div>

          <div class="form-group">
            <label for="inputDescription">Description <span>(optional)</span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-align-left"></i></span>
              <textarea class="form-control" rows="2" cols="20" id="inputDescription" placeholder="Description" name="description"></textarea>
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Add hostname</button>
            <button type="reset" class="btn btn-default" id="resetFormButton">Cancel</button>
            <script type="text/javascript">
              $('#resetFormButton').click(function() {
                $('#hostPassword').get(0).type = 'password';
                $('#hostPassword2').get(0).type = 'password';
                $('#hostPassword2').prop('readonly', false);

                $('#hostPassword').val('');
                $('#hostPassword2').val('');

                $('#hostPassword').trigger('keyup');
              });
            </script>
          </div>
        </form>
      </div>
    </div>

    {% else %}

    <div class="col-md-12">
      <p class="text-center">
        At the moment, there are no zones configured to add hostnames to.
        Please try again later or contact the administrator to get more information.
      </p>
    </div>

    {% endif %}

  </div>
{% endblock %}
