{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Manage zones</h1></div>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="/admin/suffixes/add">Add zone</a></li>
    <li><a href="/admin/suffixes/list">Configured zones</a></li>
  </ul>
  <br>

  <div class="row">
    <div class="col-md-8">
      <h3>Add a new zone</h3>
      <p>
        Using the form on the right, you can add a new DNS zone, within which
        users are allowed to register hostnames. If you have multiple zones configured,
        a user may choose within which zone a hostname should be added.

        By adding the zone <i>example.org</i>, users may create hostnames like
        <i>myhost</i>.example.org.
      </p>

      <h3>Prerequisites</h3>
      <p>
        To be able to resolve hostnames in the new zone, the PowerDNS server connected with
        ddserver must be configured to be authoritative for the zone you add here. Please refer
        to the <a target="_blank" href="https://docs.ddserver.org">ddserver documentation</a>
        for more information on zone delegation.
      </p>

      <h3>Important notes</h3>
      <p>
        Be aware that users are allowed to add any subdomain (i.e. <i>mail</i>) to the zone.
        Please refer to the <a target="_blank" href="https://docs.ddserver.org">ddserver documentation</a>
        to get information on how to restrict specific hostnames from being registered.
      </p>
      <p>
        Further, be aware that no duplicate FQDNs are allowed, which means that none of the hostnames
        in this zone configured in ddserver may appear in any other of your PowerDNS backends.
      </p>
    </div>

    <div class="col-md-4">
      <div class="box">
        <form role="form" action="/admin/suffixes/add" method="post">
          <div class="form-group">
            <label for="inputSuffix">Zone</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-desktop"></i></span>
              <input class="form-control" type="text" id="inputSuffix" placeholder="Zone" name="suffix_name" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Add zone</button>
            <button type="reset" class="btn btn-default">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}