{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Add a new user</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h3>Create a new user account</h3></div>
      <p>
        TODO
      </p>
    </div>

    <div class="col-md-4">
      <form role="form" action="/admin/adduser" method="post">
        <div class="form-group">
          <label for="inputUsername">Username</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input class="form-control" type="text" id="inputUsername" placeholder="Username" name="username" required="required">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail">Email address</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
            <input class="form-control" type="email" id="inputEmail" name="email" placeholder="user@example.com" required="required">
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-primary">Create</button>
          <a class="btn" href="/admin/users/all">Go back</a>
        </div>
      </form>
    </div>

  </div>

{% endblock %}