<!DOCTYPE html>

<html lang="en">
<head>
  <title>ddserver - A dynamic DNS service</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="cache-control" content="no-cache">
  <meta http-equiv="pragma" content="no-cache">

  <script type="text/javascript" src="/static/js/jquery.min.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/ddserver.css">

  <script type="text/javascript">
    $(function () {
        $('.tip').tooltip();
    });
  </script>
</head>

<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainmenu">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">ddserver<span class="beta">BETA</span></a>
      </div>

      <div class="collapse navbar-collapse" id="mainmenu">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/" title="Start"><i class="glyphicon glyphicon-home"></i> Start</a></li>
          {% if user %}
          <li><a href="/user/hosts/add" title="Manage Hostnames"><i class="glyphicon glyphicon-th-large"></i> Hostnames</a></li>
          <li><a href="/user/account" title="Manage Account"><i class="glyphicon glyphicon-user"></i> Account</a></li>
            {% if user.admin %}
            <li class="divider"></li>
            <li><a href="/admin/users/all" title="Manage Users"><i class="glyphicon glyphicon-th-large"></i> Users</a></li>
            <li><a href="/admin/suffixes/list" title="Manage Suffixes"><i class="glyphicon glyphicon-th-large"></i> Suffixes</a></li>
            {% endif %}
          <li class="divider"></li>
          <li><a href="/logout" title="Logout"><i class="glyphicon glyphicon-off"></i> Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </header>

  <div class="container main">
    {% for message in messages.popall() %}
      <div class="alert alert-block alert-{{message.level}}">
        <a class="close" data-dismiss="alert" href="#">×</a>
          {{message.message}}
      </div>
    {% endfor %}

    {% block content %}
    {% endblock %}
  </div>
</body>
</html>