{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Manage hostnames</h1></div>
  </div>

  <ul class="nav nav-tabs">
    <li><a href="/user/hosts/add">Add hostname</a></li>
    <li><a href="/user/hosts/list">Your hostnames</a></li>
    <li class="active"><a href="/user/host/{{host.id}}">Hostname details</a></li>
  </ul>
  <br>

  <div class="row">
    <div class="col-md-5">
      <h3>Hostname information</h3>
      <div class="box">
        <div class="form-group">
          <label for="inputHostname">Hostname</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
            <input class="form-control" type="text" id="inputHostname" name="hostname" value="{{host.hostname}}.{{host.suffix}}" readonly="readonly">
          </div>
        </div>
        <div class="form-group">
          <label for="inputCurAddr">Current IP-Address</label>
          <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
            <input class="form-control" type="text" id="inputCurAddr" name="curAddress" value="{{host.address}}" readonly="readonly">
          </div>
        </div>
      </div>

      <h3>Update IP address</h3>
      <p>
        Manually set a new IP address for the hostname
      </p>
      <div class="box">
        <form role="form" action="/user/host/updateAddress" method="post">
          <input type="hidden" name="host_id" value="{{host.id}}">
          <div class="form-group">
            <label for="inputAddress">Set new IP-Address <span><i class="glyphicon glyphicon-home tip" id="curIPbutton" title="Use your current IP address ({{current_ip}})"></i></span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-th-large"></i></span>
              <input class="form-control" type="text" id="inputAddress" name="address" value="" required="required">
            </div>
            <script type="text/javascript">
              $('#curIPbutton').click(function() {
                $('#inputAddress').val("{{current_ip}}")
              });
            </script>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Update address</button>
            <button type="reset" class="btn btn-default">Cancel</button>
          </div>
        </form>
      </div>

      <h3>Update host password</h3>
      <p>
        Set a new password for updating this hostname
      </p>
      <div class="box">
        <form role="form" action="/user/host/updatePassword" method="post">
          <input type="hidden" name="host_id" value="{{host.id}}">
          <div class="form-group">
            <label for="hostPassword">Password <span><i class="glyphicon glyphicon-gift tip" id="generatePasswordButton" title="Generate a random password"></i></span></label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" id="hostPassword" placeholder="Password" name="password" required="required">
            </div>
            <script type="text/javascript">
              $('#generatePasswordButton').click(function() {
                var password = '';
                var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

                for( var i=0; i < 12; i++ )
                  password += possible.charAt(Math.floor(Math.random() * possible.length));
                
                $('#hostPassword').get(0).type = 'text';
                $('#hostPassword').val(password);

                $('#hostPassword2').get(0).type = 'text';
                $('#hostPassword2').prop('readonly', true);
                $('#hostPassword2').val(password);
              });
            </script>
          </div>
          <div class="form-group">
            <label for="hostPassword2">Retype</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" id="hostPassword2" placeholder="Retype" name="password_confirm" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Update password</button>
            <button type="reset" class="btn btn-default" id="resetFormButton">Cancel</button>
          </div>
          <script type="text/javascript">
            $('#resetFormButton').click(function() {
              $('#hostPassword').get(0).type = 'password';
              $('#hostPassword2').get(0).type = 'password';
              $('#hostPassword2').prop('readonly', false);
            });
          </script>
        </form>
      </div>
    </div>

    <div class="col-md-7">
      <h3>Configuration examples</h3>

      <div class="panel-group" id="accordion">
        <!-- General instructions -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse0">
                General instructions
              </a>
            </h4>
          </div>
          <div id="collapse0" class="panel-collapse collapse in">
            <div class="panel-body">
              <p>
                To update your hostname, you have to configure dynamic DNS updates
                on your homerouter or one of your computer systems at home.
              </p>
              <p>
                Whatever method you want to use to update your hostname, your client
                has to access the following URL in order to trigger an update:
              </p>
              <pre>
{{config.wsgi.protocol}}{{session.username}}:<abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostPassword</abbr>@{{config.wsgi.basename}}/nic/update?hostname={{host.hostname}}.{{host.suffix}}&amp;myip=<abbr class="tip" title="The IP address you want to set">IP-Address</abbr>
              </pre>
            </div>
          </div>
        </div>

        <!-- DD-WRT -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                DD-WRT
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Sorry, it looks like DD-WRT routers are not able to send updates
                correctly. There is a configuration example in the
                <a href="http://www.dd-wrt.com/wiki/index.php/DDNS_-_How_to_setup_Custom_DDNS_settings_using_embedded_inadyn_-_HOWTO#Custom_.28URL_Updates.29">DD-WRT Wiki</a>,
                but it does not seem to work correctly.
              </p>
              <p>
                If you manage to use a custom update service with DD-WRT, please let us know!
              </p>
            </div>
          </div>
        </div>

        <!-- OpenWRT -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                OpenWRT
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                With OpenWRT you can use the LuCI Web-UI or configure dynamic DNS using
                the command line. The following instructions were tested with OpenWRT 12.09.
              </p>

              <h4>Using the Web-UI</h4>
              <p>
                To use DDNS from inside the LuCI Web-UI, you have to install
                the <em>luci-app-ddns</em> package. This will automatically
                install the package ddns-scripts, which contains the scripts
                that actually update the dynamic DNS name.
              </p>
              <p>
                After <em>luci-app-ddns</em> has been installed, you will find
                the DDNS configuration by navigating to:
              </p>
              <pre>Services &rarr; Dynamic DNS</pre>

              <p>
                At the form presented, use the following settings:
              </p>
              <table class="table">
                <tr>
                  <td>Service</td>
                  <td>-- custom --</td>
                </tr>
                <tr>
                  <td>Custom update-URL</td>
                  <td>{{config.wsgi.protocol}}[USERNAME]:[PASSWORD]@{{config.wsgi.basename}}/nic/update?hostname=[DOMAIN]&amp;myip=[IP]</td>
                </tr>
                <tr>
                  <td>Hostname</td>
                  <td>{{host.hostname}}.{{host.suffix}}</td>
                </tr>
                <tr>
                  <td>Username</td>
                  <td>{{session.username}}</td>
                </tr>
                <tr>
                  <td>Password</td>
                  <td><abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostPassword</abbr></td>
                </tr>
                <tr>
                  <td>Source of IP address</td>
                  <td>URL</td>
                </tr>
                <tr>
                  <td>URL</td>
                  <td>{{config.wsgi.protocol}}{{config.wsgi.basename}}/nic/ip</td>
                </tr>
              </table>

              <h4>Using the CLI</h4>
              <p>
                To use <em>ddns-scripts</em> directly, first install the
                needed packages:
              </p>
              <pre>opkg update<br>opkg install ddns-scripts</pre>

              <p>
                Now edit the configuration file <em>/etc/config/ddns</em> and
                add the following:
              </p>
              <pre>
config service 'myddns'
        option enabled '1'
        option interface 'wan'
        option update_url 'http://[USERNAME]:[PASSWORD]@10.0.0.10:8082/nic/update?hostname=[DOMAIN]&amo;myip=[IP]'
        option domain '{{host.hostname}}.{{host.suffix}}'
        option username '{{session.username}}'
        option password '<abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostPassword</abbr>'
        option ip_source 'web'
        option ip_url '{{config.wsgi.protocol}}{{config.wsgi.basename}}/nic/ip'
        option check_unit 'hours'
        option check_interval '1'
        option retry_interval '60'
        option retry_unit 'seconds'
        option force_interval '24'
        option force_unit 'hours'{% if config.wsgi.protocol %}
        option use_https 1
        option cacert /etc/ssl/certs{% endif %}</pre>

              {% if config.wsgi.protocol == 'https://' %}
              <h4>Notes on using SSL (https://)</h4>
              <p>
                In order for ddns-scripts to perform DNS updates over https (SSL),
                you will need to install the curl package, and add the appropriate
                root certificate for your ddns provider.
              </p>
              <p>
                Install curl:
              </p>
              <pre>opkg update<br>opkg install curl</pre>
              <p>Install CA certificates</p>
              <pre>mkdir -p /etc/ssl/certs/<br>wget -P /etc/ssl/certs/ http://curl.haxx.se/ca/cacert.pem</pre>
              {% endif %}
            </div>
          </div>
        </div>

        <!-- Tomato -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                Tomato
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                Routers running Tomato firmware allow the configuration of
                dynamic DNS updates using the Web-UI. The following instructions
                were tested with Tomato version 1.28.
              </p>
              <p>
                Start by navigating to:
              </p>
              <pre>Basic &rarr; DDNS</pre>

              <p>
                At the form presented, use the following settings:
              </p>
              <table class="table">
                <tr>
                  <td>Service</td>
                  <td>Custom URL</td>
                </tr>
                <tr>
                  <td>URL</td>
                  <td>{{config.wsgi.protocol}}{{session.username}}:<abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostPassword</abbr>@{{config.wsgi.basename}}/nic/update?hostname={{host.hostname}}.{{host.suffix}}&amp;myip=@IP</td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- Fritz!Box -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                Fritz!Box
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                If you are using a FRITZ!Box, you can configure dynamic DNS updates
                using the Web-UI. The following instructions were tested with
                FRITZ!Box 7390 and 7490, both running FRITZ!OS 06.01.
              </p>
              <p>
                Start by navigating to:
              </p>
              <pre>Internet &rarr; Freigaben &rarr; Dynamic DNS</pre>

              <p>
                At the form presented, use the following settings:
              </p>
              <table class="table">
                <tr>
                  <td>Dynamic DNS-Anbieter</td>
                  <td>Benutzerdefiniert</td>
                </tr>
                <tr>
                  <td>Update-URL</td>
                  <td>{{config.wsgi.protocol}}{{config.wsgi.basename}}/nic/update?hostname=&lt;domain&gt;&amp;myip=&lt;ipaddr&gt;</td>
                </tr>
                <tr>
                  <td>Domainname</td>
                  <td>{{host.hostname}}.{{host.suffix}}</td>
                </tr>
                <tr>
                  <td>Benutzername</td>
                  <td>{{session.username}}</td>
                </tr>
                <tr>
                  <td>Kennwort</td>
                  <td><abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostPassword</abbr></td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <!-- ddclient -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                ddclient
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse">
            <div class="panel-body">
              <p>
                DDclient is a small but full featured client used to update dynamic
                DNS entries requiring only Perl and no additional modules. It runs
                under most UNIX OSes and has been tested under GNU/Linux and FreeBSD.
              </p>
              <p>
                This is an example configuration for ddclient:
              </p>
              <pre>
# == General options
daemon=300
syslog=yes
mail=root
mail-failure=root
<abbr class="tip" title="Set this to yes, if your update server uses SSL (https://)">ssl=yes</abbr>
use=web, web={{config.wsgi.protocol}}{{config.wsgi.basename}}/nic/ip

# == Update server
protocol=noip, \
server={{config.wsgi.basename}}, \
login={{session.username}}, \
password=<abbr class="tip" title="The password you specified for updating the hostname (not the password you use to login into this WebUI)">YourHostnamePassword</abbr> \
{{host.hostname}}.{{host.suffix}}
                </pre>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

{% endblock %}