{% extends "base.html" %}

{% block content %}

  <div class="row-fluid">
    <div class="span12"><h1>Manage Hostnames</h1></div>
  </div>
  
  <ul class="nav nav-tabs">
    <li><a href="/user/hosts/add">Add hostname</a></li>
    <li class="active"><a href="/user/hosts/list">Your hostnames</a></li>
  </ul>
  
  <div class="row-fluid">
    <div class="box">
      <h3><i class="icon-tag"></i> Your Hostnames</h3>

      {% if hosts %}
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th>Hostname</th>
            <th width="20%">Address</th>
            <th width="160px">Updated</th>
            <th width="145px">Actions</th>
          </tr>
          {% for host in hosts %}
            <tr>
              <td>
                <a href="/user/host/{{host.id}}" title="Show details">
                  {{host.hostname}}<span class="origin">.{{host.suffix}}</span>
                </a>
              </td>
              
              <td>
                {% if host.address %}
                  {{host.address}}
                {% else %}
                  <span class="muted">-</span>
                {% endif %}
              </td>
              
              <td>{{host.updated}}</td>
              
              <td>
                <a class="btn" href="/user/host/{{host.id}}" rel="tooltip" data-toggle="tooltip" title="Show details">Details</a>

                <a href="#modal{{host.id}}" class="btn btn-danger" data-toggle="modal">Delete</a>
                <div class="modal hide fade" id="modal{{host.id}}">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Delete hostname</h3>
                  </div>
                  <div class="modal-body">
                    <p>
                      Do you really want to delete this hostname?
                    </p>
                    <p>
                      Hostname: <b>{{host.hostname}}</b>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form class="form-horizontal" action="/user/hosts/delete" method="post">
                      <input type="hidden" name="host_id" value="{{host.id}}">
                      <div class="control-group">
                        <div class="controls">
                          <a href="#modal{{host.id}}" class="btn" data-toggle="modal">Cancel</a>
                          <button type="submit" class="btn btn-primary btn-danger">Delete</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>

      {% else %}

        <p>
          You have not added any hostnames so far.
        </p>
        
      {% endif %}

      </div>

  </div>
{% endblock %}