{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Welcome to ddserver</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>ddserver</strong> is a server-side application for dynamic DNS management.
      </p>
      <p>
        It allows you to specify hostnames (subdomains) inside a dynamic DNS zone, and to 
        update the IP address of those hostnames using a dynamic update protocol
        (<a href="http://www.noip.com/integrate">dyndns2 protocol</a>). This enables you
        to access hosts with dynamic IP addresses by a static domain name, even if its IP
        address changes. As updates of the IP address are performed using the dyndns2 update
        protocol, most DSL home-routers are able to send updates of the IP address. Also,
        there is a tool called <a href="http://sourceforge.net/p/ddclient/wiki/Home/">ddclient</a>,
        which can be used to send updates from any *NIX-based operating system.
      </p>

      <h3>Documentation and Support</h3>
      <p>
        For further documentation, please refer to the ddserver project homepage at
        <a href="http://ddserver.0x80.io">http://ddserver.0x80.io</a>.
      </p>
      <p>
        Please report bugs or suggest features to help us to improve ddserver.<br>
        <a href="https://github.com/ddserver/ddserver/issues">https://github.com/ddserver/ddserver/issues</a>.
      </p>

      <h3>License</h3>
      <p>
        ddserver is free software: you can redistribute it and/or modify it under
        the terms of the GNU Affero General Public License as published by the
        Free Software Foundation, either version 3 of the License, or (at your
        option) any later version.
        See <a href="http://www.gnu.org/licenses/agpl-3.0.html">http://www.gnu.org/licenses/agpl-3.0.html</a>
        for the full text of the license.
      </p>
    </div>

    {% if not user %}
    <div class="col-md-4">
      <div class="box">
        <h3><i class="glyphicon glyphicon-tag"></i> Login</h3>
        <form role="form" action="/login" method="post">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" id="loginUsername" placeholder="Username" name="username" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input class="form-control" type="password" id="loginPassword" placeholder="Password" name="password" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Login</button>
            <a href="/lostpass">Lost your password?</a>
          </div>
        </form>
      </div>

      {% if config.signup.enabled %}
      <div class="box">
        <h3><i class="glyphicon glyphicon-tag"></i> Signup</h3>
        <p class="text-center">Want to use dynamic DNS? Signup now!</p>
        <p class="text-center"><a class="btn btn-primary" href="/signup">Create an account</a></p>
      </div>
      {% endif %}
    </div>
    {% endif %}
  </div>  
{% endblock %}