{% extends "base.html" %}

{% block content %}

  {% if user %}
    {% if motd %}
    <div class="alert alert-block alert-warning">
      <a class="close" data-dismiss="alert" href="#">×</a>
        <strong>Note:</strong> {{motd|safe}}
    </div>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="col-md-12"><h1>Welcome to ddserver</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        <strong>ddserver</strong> is a server-side application for dynamic DNS management.
      </p>
      <p>
        It allows you to specify hostnames (subdomains) inside a DNS zone, and to
        update the IPv4 address of these hostnames dynamically by using a
        <a target="_blank" href="http://www.noip.com/integrate">simple update protocol</a>
        over HTTP(S). This enables you to access hosts with changing IPv4 addresses by a
        static domain name. As updates of the IP address are performed using an open update
        protocol, most DSL home-routers are able to send IP address updates. Also, there is
        a tool called <a target="_blank" href="http://sourceforge.net/p/ddclient/wiki/Home/">ddclient</a>,
        which can be used to send updates from any *NIX-based operating system. Additionally,
        a static IPv6 address can be assigned for each hostname.
      </p>

      <h3>Documentation and Support</h3>
      <p>
        For further documentation, please refer to
        <a target="_blank" href="http://docs.ddserver.org">http://docs.ddserver.org</a>.
      </p>
      <p>
        Please report bugs or suggest new features to help us improve ddserver.<br>
        <a target="_blank" href="https://github.com/ddserver/ddserver/issues">https://github.com/ddserver/ddserver/issues</a>.
      </p>

      <h3>License</h3>
      <p>
        ddserver is free software: you can redistribute it and/or modify it under
        the terms of the GNU Affero General Public License as published by the
        Free Software Foundation, either version 3 of the License, or (at your
        option) any later version.
        See <a target="_blank" href="http://www.gnu.org/licenses/agpl-3.0.html">http://www.gnu.org/licenses/agpl-3.0.html</a>
        for the full text of the license.
      </p>
    </div>

    <div class="col-md-4">
    {% if not user %}
      <div class="box">
        <h3>Login</h3>
        <form role="form" action="/login" method="post">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
              <input class="form-control" type="text" id="loginUsername" placeholder="Username" name="username" required="required">
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-lock"></i></span>
              <input class="form-control" type="password" id="loginPassword" placeholder="Password" name="password" required="required">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Login</button>&nbsp;
            <span class="small"><a href="/lostpass">Lost your password?</a></span>
          </div>
        </form>
      </div>

      {% if config.signup.enabled %}
      <div class="box">
        <p class="text-center">Do you want to use ddservers dynamic DNS service yourself? Signup now, it's free!</p>
        <p class="text-center"><a class="btn btn-primary" href="/signup">Create an account</a></p>
      </div>
      {% endif %}

    {% else %}

    <div class="box">
      <p>
        Your current IP-Address:
      </p>
      <p class="text-center"><strong style="font-size: 2.5em;">{{current_ip}}</strong></p>
    </div>

    <div class="box">
      <div class="row">
        {% if user.maxhosts == 0 %}
        <p class="text-danger text-center">You are not allowed to add any hostnames.</p>

        {% else %}
        <div class="col-md-6">
          <canvas id="hostUsageChart" width="140"></canvas>
          <p class="text-center">
            You are using
            {{userhosts.count}} of
            {% if user.maxhosts|int == -1 or user.admin == True %}
              unlimited
            {% else %}
              up to {% if user.maxhosts == None %}{{config.dns.max_hosts}}{% else %}{{user.maxhosts}}{% endif %}
            {% endif %}
            hostnames.
          </p>
        </div>
        <div class="col-md-6">
          <canvas id="allUsageChart" width="140"></canvas>
          <p class="text-center">
            You are using
            {% if hosts.count|int %}{{ (userhosts.count / hosts.count * 100)|round|int }}{% else %}0{% endif %}%
            of our total hostnames.
          </p>
        </div>

        <script type="text/javascript">
          var dataUser = [
            {
              value: {% if user.maxhosts|int == -1 or user.admin == True %}0{% else %}{{userhosts.count}}{% endif %},
              color:"#cc0000"
            },
            {
              value : {% if user.maxhosts == None %}{{config.dns.max_hosts - userhosts.count}}{% else %}{{user.maxhosts - userhosts.count}}{% endif %},
              color : "#428bca"
            }
          ];
          var dataAll = [
            {
              value: {{userhosts.count}},
              color:"#cc0000"
            },
            {
              value : {% if hosts.count %}{{hosts.count - userhosts.count}}{% else %}1{% endif %},
              color : "#428bca"
            }
          ];
          //Get the context of the canvas element we want to select
          var ctx = $("#hostUsageChart").get(0).getContext("2d");
          var pc = new Chart(ctx).Pie(dataUser, {segmentStrokeColor : "#f9f9f9"});

          var ctx = $("#allUsageChart").get(0).getContext("2d");
          var pc = new Chart(ctx).Pie(dataAll, {segmentStrokeColor : "#f9f9f9"});
        </script>
        {% endif %}
      </div>
    </div>
    <div class="box">
      <table class="table table-condensed table-notopborder" style="margin-bottom: 0">
        <tr>
          <th>Available zones</th>
          <td>{{zones.count}}</td>
        </tr>
        <tr>
          <th>Overall users</th>
          <td>{{users.count}}</td>
        </tr>
        <tr>
          <th>Overall hostnames</th>
          <td>{{hosts.count}}</td>
        </tr>
      </table>
    </div>

    {% endif %}

    </div>

  </div>

{% endblock %}