{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Password recovery</h1></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <p>
        You lost your accounts password? Don't panic. You may request a
        password recovery process using the from on the right. In just a few
        minutes you will be able to access your account again.
      </p>
      <p>
        Please enter your ddserver username
        {% if config.captcha.enabled %}
        as well as the captcha, which is needed to prevent automatic password
        resets by spammers
        {% endif %}
        and hit the <em>Send</em> button. We will instantly send you an email
        to the email address you have set in your account settings. The email
        will contain further information as well as a password reset code.
      </p>
      <p>
        If you have any trouble with the password recovery process or you do not
        receive your recovery code by email in reasonable time, please contact us.
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>

    <div class="col-md-5">
      <div class="box">
        <form role="form" action="/lostpass" method="post">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
              <input class="form-control" type="text" id="inputUsername" placeholder="Username" name="username" required="required">
            </div>
          </div>

          {% if config.captcha.enabled %}
          <div class="form-group">
            <label>Human check</label>
            <div id="recaptcha_widget">
              <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-fw fa-eye"></i></span>
                <div class="g-recaptcha" data-sitekey="{{config.captcha.recaptcha_public_key}}"></div>
              </div>
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <noscript>Please enable JavaScript to sign up.</noscript>
            </div>
          </div>
          {% endif %}

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Send</button>
            <a class="btn btn-default" href="/">Go back</a>
          </div>
        </form>
      </div>
    </div>  
  </div>

{% endblock %}
