{% extends "base.html" %}

{% block content %}
  {% if config.captcha.enabled %}
  <script type="text/javascript">
    var RecaptchaOptions = { theme : 'custom', custom_theme_widget: 'recaptcha_widget' };
  </script>
  {% endif %}

  <div class="row">
    <div class="col-md-12"><h1>Password recovery</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        You lost your accounts password? Don't panic. You may request a
        password recovery process using the from on the right. In just a few
        minutes you will be able to access your account again.
      </p>
      <p>
        Please enter your ddserver username
        {% if config.captcha.enabled %}
        as well as the captcha, which is needed to prevent automatic password
        resets by spammers
        {% endif %}
        and hit the <em>Send</em> button. We will instantly send you an email
        to the email address you have set in your account settings. The email
        will contain further information as well as a password reset code.
      </p>
      <p>
        If you have any trouble with the password recovery process or you do not
        receive your recovery code by email in reasonable time, please contact us.
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>    
      
    <div class="col-md-4">
      <div class="box">
        <form role="form" action="/lostpass" method="post">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input class="form-control" type="text" id="inputUsername" placeholder="Username" name="username" required="required">
            </div>
          </div>
  
          {% if config.captcha.enabled %}
          <div class="form-group">
            <label for="recaptcha_response_field">Human check</label>
            <div id="recaptcha_widget" style="display: none;">
              <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-eye-open"></i></span>
                <input class="form-control" type="text" id="recaptcha_response_field" placeholder="Enter the text from below" name="recaptcha_response_field">
              </div>
              <table>
                <tr>
                  <td>
                    <div id="recaptcha_image"></div>
                  </td>
                  <td>
                    <a href="javascript:Recaptcha.reload()"><i class="glyphicon glyphicon-repeat tip" title="Get another CAPTCHA"></i></a><br>
                    <a href="javascript:Recaptcha.showhelp()"><i class="glyphicon glyphicon-question-sign tip" title="Help"></i></a>
                  </td>
                </tr>
              </table>
              <script type="text/javascript" src="https://www.google.com/recaptcha/api/challenge?k={{config.captcha.recaptcha_public_key}}"></script>
              <noscript>Please enable JavaScript to sign up.</noscript>
            </div>
          </div>
          {% endif %}
  
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Send</button>
            <a class="btn btn-default" href="/">Go back</a>
          </div>
        </form>
      </div>
    </div>  
  </div>
  
{% endblock %}