{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Account registration disabled</h1></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <p>
        Sorry, registration of new user accounts is currently disabled.
      </p>
      <p>
        If you have any questions, you may contact the system administrator at
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>
  </div>

{% endblock %}