{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-12"><h1>Password recovery</h1></div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <p>
        Hi {{username}},
      </p>
      <p>
        welcome to <strong>ddserver</strong>, a service that allows you to add
        hostnames whose IP address can be updated dynamically using the
        <a href="http://www.noip.com/integrate">dyndns2 protocol</a>.
      </p>
      <p>
        You requested a password reset for your ddserver account. To finish the
        password reset process, you need to set a new password using the form
        on the right. Please use secure passwords, consisting of upper- and lowercase
        characters, as well as numbers or special characters. The minimum
        password length is {{passwd_min_chars}} characters.
      </p>
      <p>
        If you did not request a password reset for your ddserver account, 
        you may cancel the password reset process by clicking the button
        on the right. 
      </p>
      <p>
        If you have any trouble with the password recovery process, please contact us.
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>

    <div class="col-md-4">
      <div class="box">
        <h3>Set a new password</h3>
        <form role="form" action="/lostpass/setnew?username={{username}}&amp;authcode={{authcode}}" method="post">
          <div class="form-group">
            <label for="inputPassword1">New Password</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" id="inputPassword1" placeholder="Password" name="password">
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword2">Retype</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input class="form-control" type="password" id="inputPassword2" placeholder="Retype" name="password_confirm">
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Set new password</button>
            <a class="btn btn-default" href="/">Go back</a>
          </div>
        </form>
      </div>

      <div class="box">
        <h3>Cancel password reset</h3>
        <form role="form" action="/lostpass/cancel?username={{username}}&amp;authcode={{authcode}}" method="post">
          <div class="form-group">
            <button type="submit" class="btn btn-danger btn-primary">Cancel Password Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}