{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-md-12"><h1>Signup for an account</h1></div>
  </div>

  <div class="row">
    <div class="col-md-7">
      <p>
        To create your ddserver account, please use the form on the right to specify
        a username and provide your email address.
        {%- if config.captcha.enabled %}
        Further, please click the human-check checkbox, which is needed to prevent
        automatic user registration.
        {%- endif %}
        Finish your registration by clicking the Signup button and check your inbox
        for your personal activation code.
      </p>

      {%- if config.signup.allowed_maildomains != 'any' %}
      <p>
        Please note: Depending on the email address you provide, an activation email
        will be sent instantly, or after verification by an administrator.
      </p>
      {%- endif %}
      <p>
        If you have any trouble with the signup process or you do not receive an
        activation email within a reasonable period of time, please contact us.
      </p>
      <p>
        <a href="mailto:{{config.contact.email}}">{{config.contact.name}} &lt;{{config.contact.email}}&gt;</a>
      </p>
    </div>

    <div class="col-md-5">
      <div class="box">
        <form role="form" action="/signup" method="post">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <div class="input-group">
              <span  class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
              <input class="form-control" type="text" id="inputUsername" placeholder="Username" name="username" required="required">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
              <input class="form-control" type="email" id="inputEmail" name="email" placeholder="user@example.com" required="required">
            </div>
          </div>

          {%- if config.captcha.enabled %}
          <div class="form-group">
            <label>Human check</label>
            <div id="recaptcha_widget">
              <div class="input-group">
                <div class="g-recaptcha" data-sitekey="{{config.captcha.recaptcha_public_key}}"></div>
              </div>
              <script src='https://www.google.com/recaptcha/api.js'></script>
              <noscript>Please enable JavaScript to allow the captcha to load.</noscript>
            </div>
          </div>
          {% endif -%}

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-primary">Signup</button>
            <a class="btn btn-default" href="/">Go back</a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
