{% extends "base.html" %}

{% block content %}

  <div class="row-fluid">
    <div class="span12"><h1>User management</h1></div>
  </div>
  
  <div class="row-fluid">
    <div class="box">
      <h3><i class="icon-tag"></i> Users waiting for activation</h3>
      
      <ul class="nav nav-tabs">
        <li {% if mode == 'all' %}class="active" {% endif %}><a href="/admin/users/all">All Users</a></li>
        <li {% if mode == 'inactive' %}class="active" {% endif %}><a href="/admin/users/inactive">Awating Activation</a></li>
        <li {% if mode == 'admins' %}class="active" {% endif %}><a href="/admin/users/admins">Administrators</a></li>
      </ul>
      
      {% if users %}
        <table class="table table-bordered table-striped table-hover">
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th width="160px">Created</th>
            <th width="120px" colspan="2">Actions</th>
          </tr>
          {% for user in users %}
            <tr>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <td>{{user.created}}</td>
              <td width="70px">
              {% if user.active == 1 %}
                {% if user.admin == 0 %}
                <form action="/admin/users/mkadmin" method="post">
                  <input type="hidden" name="user_id" value="{{user.id}}">
                  <input type="submit" class="btn" value="&nbsp;User&nbsp;" style="width: 70px;">
                </form>
                {% else %}
                <form action="/admin/users/rmadmin" method="post">
                  <input type="hidden" name="user_id" value="{{user.id}}">
                  <input type="submit" class="btn btn-inverse" value="Admin" style="width: 70px;">
                </form>
                {% endif %}
              {% else %}
                <form action="/admin/users/activate" method="post">
                  <input type="hidden" name="username" value="{{user.username}}">
                  {% if user.authcode == None %}
                  <input type="submit" class="btn btn-success" value="Activate" style="width: 70px;">
                  {% else %}
                  <input type="submit" class="btn btn-success" value="Pending.." style="width: 70px;" disabled="disabled">
                  {% endif %}
                </form>
              {% endif %}
              </td>
              <td width="70px" style="border-left: 0px">
                <a href="#modal{{user.id}}" class="btn btn-danger" data-toggle="modal">Delete</a>
                <div class="modal hide fade" id="modal{{user.id}}">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3>Delete hostname</h3>
                  </div>
                  <div class="modal-body">
                    <p>
                      Do you really want to delete this user?
                    </p>
                    <p>
                      Username: <b>{{user.username}}</b>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form class="form-horizontal" action="/admin/users/delete" method="post">
                      <input type="hidden" name="user_id" value="{{user.id}}">
                      <div class="control-group">
                        <div class="controls">
                          <a href="#modal{{user.id}}" class="btn" data-toggle="modal">Cancel</a>
                          <button type="submit" class="btn btn-primary btn-danger">Delete</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </td>
            </tr>
          {% endfor %}
        </table>
      {% endif %}
    </div>
  </div>
  
{% endblock %}