{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-md-12"><h1>User management</h1></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li {% if mode == 'all' %}class="active" {% endif %}><a href="/admin/users/all">All Users</a></li>
        <li {% if mode == 'inactive' %}class="active" {% endif %}><a href="/admin/users/inactive">Awaiting Activation</a></li>
        <li {% if mode == 'admins' %}class="active" {% endif %}><a href="/admin/users/admins">Administrators</a></li>
        <li><a href="/admin/users/add">Add new user</a></li>
      </ul>
      <br>

      {% if users %}
        <div data-bind='simpleSortableGrid: gridViewModel, simpleSortableGridTemplate: "gridTemplate"'></div>
      {% else %}
        <p class="text-danger text-center">
          No users to display.
        </p>
      {% endif %}
    </div>
  </div>


  <script type="text/html" id="gridTemplate">
    <table class="table table-striped table-hover">
      <thead>
        <tr data-bind="foreach: columns" style="cursor:pointer;">
          <!-- ko if: isSortable == true -->
          <th data-bind="click:$parent.sortBy($data.rowText)">
            <span data-bind="text: headerText"></span>
            <span data-bind="css:$parent.sortByCSS($data.rowText)"></span>
          </th>
          <!-- /ko -->
          <!-- ko ifnot: isSortable == true-->
          <th><span data-bind="text: headerText"></span></th>
          <!-- /ko -->
        </tr>
      </thead>
      <tbody data-bind="foreach: itemsOnCurrentPage">
        <tr>
          <td><a href="#" class="tip" data-bind="text: username, attr: { href: '/admin/user/' + id + '/hosts', title: 'Display this users hostnames' }"></a></td>
          <td data-bind="text: email"></td>
          <td data-bind="text: created"></td>
          <td>
            <span data-bind="attr: { id: 'userHostDisplay' + id }">
              <!-- ko if: maxhosts == '-1' -->
                <i>unlimited</i>
              <!-- /ko -->
              <!-- ko ifnot: maxhosts == '-1' -->
                <!-- ko if: maxhosts == 'None' -->
                  <i>default ({{config.dns.max_hosts}})</i>
                <!-- /ko -->
                <!-- ko ifnot: maxhosts == 'None' -->
                  <span data-bind="text: maxhosts"></span>
                <!-- /ko -->
              <!-- /ko -->
              <span class="pull-right">
                <i class="fa fa-fw fa-edit tip" data-bind="click: function() { $('#userHostDisplay' + id).hide(); $('#userHostEdit' + id).show(); }" title="Change maximum number of hostnames" style="cursor: default"></i>
                <i class="fa fa-fw fa-refresh tip" data-bind="click: function() { $('#userHostResetForm' + id).submit(); }" title="Reset maximum number of hostnames" style="cursor: default"></i>
              </span>
            </span>

            <span data-bind="attr: { id: 'userHostEdit' + id }" style="display: none">
              <form class="form-horizontal" action="/admin/users/updateMaxhosts" method="post" data-bind="attr: { id: 'userHostEditForm' + id }">
              <input type="hidden" name="user_id" data-bind="value: id">
                <div class="input-group">
                  <!-- ko if: maxhosts == 'None' -->
                    <input class="form-control tip" type="text" name="max_hosts" style="margin: 0" title="Use -1 for unlimited hostnames" value="{{config.dns.max_hosts}}">
                  <!-- /ko -->
                  <!-- ko ifnot: maxhosts == 'None' -->
                    <input class="form-control tip" type="text" name="max_hosts" style="margin: 0" title="Use -1 for unlimited hostnames" data-bind="value: maxhosts">
                  <!-- /ko -->
                  <span class="input-group-addon" data-bind="click: function() { $('#userHostEditForm' + id).submit(); }" style="cursor: pointer"><i class="fa fa-fw fa-check"></i></span>
                </div>
              </form>
            </span>

            <form class="form-horizontal" action="/admin/users/updateMaxhosts" data-bind="attr: { id: 'userHostResetForm' + id }" method="post">
              <input type="hidden" name="user_id" data-bind="value: id">
              <input type="hidden" name="max_hosts" value="-2">
            </form>
          </td>
          <td style="width:90px">
          <!-- ko if: active == 1 -->
            <!-- ko if: admin == 0 -->
            <form action="/admin/users/mkadmin" method="post">
              <input type="hidden" name="user_id" data-bind="value: id">
              <input type="submit" class="btn btn-default tip" value="&nbsp;User&nbsp;" style="width: 90px;" title="Klick to add Admin privileges">
            </form>
            <!-- /ko -->
            <!-- ko ifnot: admin == 0 -->
            <form action="/admin/users/rmadmin" method="post">
              <input type="hidden" name="user_id" data-bind="value: id">
              <!-- ko if: id == {{user.id}} -->
              <input type="button" class="btn btn-default active tip" value="Admin" style="width: 90px;" title="You can not remove your own Admin privileges">
              <!-- /ko -->
              <!-- ko ifnot: id == {{user.id}} -->
              <input type="submit" class="btn btn-default active tip" value="Admin" style="width: 90px;" title="Klick to remove Admin privileges">
              <!-- /ko -->
            </form>
            <!-- /ko -->
          <!-- /ko -->
          <!-- ko ifnot: active == 1 -->
            <form action="/admin/users/activate" method="post">
              <input type="hidden" name="username" data-bind="value: username">
              <!-- ko if: authcode == 'None' -->
              <input type="submit" class="btn btn-success tip" value="Activate" style="width: 90px;" title="Klick to send activation email">
              <!-- /ko -->
              <!-- ko ifnot: authcode == 'None' -->
              <input type="button" class="btn btn-success active tip" value="Pending.." style="width: 90px;" title="Waiting for the user to complete email activation">
              <!-- /ko -->
            </form>
          <!-- /ko -->
          </td>
          <td style="width: 90px; border-left: 0px">
            <a data-bind="attr: { href: '#modal' + id }" data-toggle="modal" class="btn btn-danger tip" title="Delete this user">Delete</a>
            <div class="modal fade" data-bind="attr: { id: 'modal' + id }">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>Delete this hostname</h4>
                  </div>
                  <div class="modal-body">
                    <span class="fa fa-fw fa-trash-o pull-left" style="font-size: 40px; margin: 10px 20px 0 0;"></span>
                    <p>
                      Do you really want to delete this user?
                    </p>
                    <p>
                      Username: <b data-bind="text: username"></b>
                    </p>
                  </div>
                  <div class="modal-footer">
                    <form role="form" action="/admin/users/delete" method="post">
                      <input type="hidden" name="user_id" data-bind="value: id">
                      <div class="form-group">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary btn-danger">Delete</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </script>

  <script type="text/javascript">
      var items = [
      {% for user in users %}
          { id: {{user.id}}, username: "{{user.username}}", email: "{{user.email}}", created: "{{user.created}}", maxhosts: "{{user.maxhosts}}", active: "{{user.active}}", admin: "{{user.admin}}", authcode: "{{user.authcode}}" },
        {% endfor %}
      ];
      var PagedGridModel = function (items) {
        this.items = ko.observableArray(items);
        this.gridViewModel = new ko.simpleSortableGrid.viewModel({
          data: this.items,
          columns: [
            { headerText: "Username", rowText: "username", isSortable: true },
            { headerText: "Email", rowText: "email", isSortable: true },
            { headerText: "Created", rowText: "created", isSortable: true },
            { headerText: "Max hostnames", rowText: "maxhosts", isSortable: true },
            { headerText: "Actions", rowText: "actions", isSortable: false }
          ],
          pageSize: pagination_items_per_page
        });
      };
      ko.applyBindings(new PagedGridModel(items));
  </script>
{% endblock %}