<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>ddserver</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <script language="javascript" type="text/javascript" src="static/js/jquery.min.js"></script>
  <script language="javascript" type="text/javascript" src="static/js/bootstrap.min.js"></script>
    
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">ddserver</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            {% if 'username' in session %}
            <li><a href="/hosts" title="Manage Hostnames"><i class="icon-th-large icon-white"></i> Hostnames</a></li>
            <li><a href="/account" title="Manage Account"><i class="icon-user icon-white"></i> {{session['username']}}</a></li>
            <li><a href="/logout" title="Logout"><i class="icon-off icon-white"></i> Logout</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container main">
    {% set msg = getmsg() %}
    {% if msg %}
        <div class="alert alert-block alert-{{msg[0]}}">
          <a class="close" data-dismiss="alert" href="#">×</a>
            {{msg[1]}}
        </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
  </div>  
</body>
</html>