{% extends "layout.html" %}

{% block content %}

  <div class="row-fluid">
    <div class="span12"><h1>User management</h1></div>
  </div>
  
  <div class="row-fluid">

    {% if users %}
    <div class="box">
      <h3><i class="icon-tag"></i> Users waiting for activation</h3>
      
      <ul class="nav nav-tabs">
        <li {% if mode == 'all' %}class="active" {% endif %}><a href="/admin/users/all">All Users</a></li>
        <li {% if mode == 'inactive' %}class="active" {% endif %}><a href="/admin/users/inactive">Awating Activation</a></li>
        <li {% if mode == 'admins' %}class="active" {% endif %}><a href="/admin/users/admins">Administrators</a></li>
      </ul>
      
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th width="160px">Created</th>
          <th width="120px" colspan="2">Actions</th>
        </tr>
        {% for u in users %}
          <tr>
            <td>{{u['username']}}</td>
            <td>{{u['email']}}</td>
            <td>{{u['created']}}</td>
            <td width="70px">
            {% if u['active'] == 1 %}
              {% if u['admin'] == 0 %}
              <form action="/admin/users/makeAdmin" method="post">
                <input type="hidden" name="uid" value="{{u['id']}}">
                <input type="submit" class="btn" value="&nbsp;User&nbsp;" style="width: 70px;">
              </form>
              {% else %}
              <form action="/admin/users/removeAdmin" method="post">
                <input type="hidden" name="uid" value="{{u['id']}}">
                <input type="submit" class="btn btn-inverse" value="Admin" style="width: 70px;">
              </form>
              {% endif %}
            {% else %}
              <form action="/admin/users/activate" method="post">
                <input type="hidden" name="username" value="{{u['username']}}">
                {% if u['authcode'] == None %}
                <input type="submit" class="btn btn-success" value="Activate" style="width: 70px;">
                {% else %}
                <input type="submit" class="btn btn-success" value="Pending.." style="width: 70px;" disabled="disabled">
                {% endif %}
              </form>
            {% endif %}
            </td>
            <td width="70px" style="border-left: 0px">
              <form action="/admin/users/delete" method="post">
                <input type="hidden" name="uid" value="{{u['id']}}">
                <input type="submit" class="btn btn-danger" value="Delete" style="width: 70px;">
              </form>
            </td>
          </tr>  
        {% endfor %}
      </table>
    </div>
    {% endif %}
    
  </div>
  
{% endblock %}