<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
  <title>c4fd ddns-server</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="./index.html">DDNS</a>
        <div class="nav-collapse collapse">
          <ul class="nav pull-right">
            {% if 'username' not in session %}
            <li>
              <form class="login form-inline" action="/login" method="post">
                <input type="text" class="input" placeholder="Username" name="username">
                <input type="password" class="input" placeholder="Password" name="password">
                <button type="submit" class="btn">Sign in</button>
              </form>
            </li>
            {% else %}
            <li><a href="/hosts" title="Manage Hostnames">Hostnames</a></li>
            <li><a href="/account" title="Manage Account">{{session['username']}}</a></li>
            <li><a href="/logout" title="Logout"><i class="icon-off icon-white"></i></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  
  <div class="main">
    {% set msg = getmsg(session) %}
    {% if msg %}
    <div class="row">
      <div class="span12">
        <div class="alert alert-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
            {{msg}}
        </div>
      </div>
    </div>
    {% endif %}
    
    {% block content %}
    {% endblock %}
  </div>  
</body>
</html>