# systemd service definition for ddserver-bundle
[Unit]
Description=ddserver - A dynamic DNS service.
After=network.target mysql.service

[Service]
ExecStart=/usr/local/bin/ddserver-bundle
PIDFile=/var/run/ddserver.pid

[Install]
WantedBy=default.target